---
import MainLayout from "../layouts/main.astro"
import PageTitle from "../components/page-title.astro";
---

<MainLayout title="Threejs Tuts">

    <main class="max-w-screen-md mx-auto pt-12">
        <PageTitle txt="threejs tuts" />
        <p class="text-2xl mb-8">
            Three.js is a cross-browser JavaScript library and application programming interface used to create and display animated 3D computer graphics in a web browser using WebGL.
        </p>
        <h2 class="text-3xl font-bold capitalize mb-2">learning Threejs is so fun</h2>
        <ul class="text-2xl mb-8">
            <li>starting with basics <a class="font-bold hover:underline decoration-solid" href="basics">here</a>.</li>
        </ul>
        <p class="text-2xl">
            More advanced levels and projects will be added in the future.
        </p>
    </main>

</MainLayout>