---
import MainLayout from "../layouts/main.astro"
import PageTitle from "../components/page-title.astro";
---

<MainLayout title="">

    <PageTitle txt="threejs tuts" />

    <p class="text-3xl mb-8 leading-snug">
        Three.js is a cross-browser JavaScript library and application programming interface used to create and display animated 3D computer graphics in a web browser using WebGL.
    </p>
    <p class="text-3xl leading-snug mb-12">
        Hello, I'm <a class="font-bold capitalize decoration-solid hover:underline" href="https://github.com/andrew-zachary">andrew zachary</a> a frontend web developer, let's learn this fantastic lib together. I will keep adding more advanced levels and projects in the future.
    </p>
    <p>
        <a class="bg-secondary text-5xl text-primary hover:text-dim1 font-bold capitalize px-4 py-2 rounded-lg" href="basics">start learning</a>
    </p>
</MainLayout>