---
const {lesson} = Astro.props
---
<div class="tip-body py-4">
    <div class="body-content" x-show="active" x-collapse>
        <img src={lesson.data.img} alt="threejs main components">
    </div>
</div>