---
const { title } = Astro.props
---
<style lang="scss" is:global>
html {
    font-size: 62.5%;
}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<script src="../js/main.js"></script>
	</head>
	<body>
		<main class="max-w-screen-md mx-auto pt-12">
			<slot />
		</main>
	</body>
</html>